{% extends "base.html" %}

{% block title %}{{ titolo }}{% endblock %}


{% block navbar %}
      <h3 class="masthead-brand">App Corso</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link " href="https://mysterious-meadow-99534.herokuapp.com">Home</a>
        <a class="nav-link active" href="https://mysterious-meadow-99534.herokuapp.com/info">informazioni</a>    
    
      </nav>
{% endblock %} 

{% block content %}
  <main role="main" class="inner cover">
    <h1 class="cover-heading">{{ titolo }}</h1>
    <p class="lead">{{ testo }}</p>
        
    </p>
{% endblock %}
 
</body>
</html>
